@import url("../css/font.css");
/* Logo */
nav div img{
  height: 50px;
}
nav div a.navbar-brand{
  font-size: 1.1rem;
  font-family: var(--Livvic);
  margin-top: 7px;
}
 /* Définition du navbar pour le rendre statique */
#navbar {
  background-color: white;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #26A3D1;
}
/* Rendre le navbar statique */
nav.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* Création d'un padding pour éviter le chevauchement du navbar et du titre du topic */
section .topic{
  padding-top: 65px;
}

/* Variable globales */
:root{
  --sky: linear-gradient(120deg, #095f7f 0%, #10b8f7 100%);
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic" cursive;
}
/* Navigation */
.dropdown{
  border-radius: 12px;
}
.nav .nav-items .nav-link:hover, .dropdown{
  background: var(--sky);
}
.nav .nav-items .nav-link:hover a, .dropdown{
  color: var(--white);
}
.nav .nav-items .nav-link,  .dropdown a{
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--Abel);
}
.nav .nav-items .nav-link a{
  color: #0271AE;
}
/* Grand titre */
section div div div h2{
  font-family: var(--Lexend);
}
/* Background carousel */
section div div div.carousel-inner {
  z-index: -99;
}
section div div div.carousel-item{
  position: fixed;
  width: 100%; height: 100%;
  min-width: 1000px;
}
section div div div.carousel-inner .one {
  background: url(../Images/Services/Photogrammetrie.jpg);
  background-size: cover;
  background-position: center;
}
section div div div.carousel-inner .two {
  background: url(../Images/Services/Topographie.jpg);
  background-size: cover;
  background-position: center;
}
section div div div.carousel-inner .three {
  background: url(../Images/Services/Bathymetrie.jpg);
  background-size: cover;
  background-position: center;
}
section div div div.carousel-inner .four {
  background: url(../Images/Services/SIG.jpg);
  background-size: cover;
  background-position: center;
}
section div div div.carousel-inner .five {
  background: url(../Images/Services/Lidar.jpg);
  background-size: cover;
  background-position: center;
}

/* Gamme de produit */
/* Définition du margin pour que le topic produit couvre tout l'écran */
section div div div div.product{
  margin-bottom: 50px !important;
}
/* Propriété de l'image de topic */
section div div div div img.product-img{
  border-style: solid;
  border-width: 2px;
  border-color: #0090c4;
  max-width: 150px;
}
/* Propriété du texte de topic */
section div div div div.product-text{
  background: var(--sky);
}
section div div.blue {
  background: var(--sky);
}

/* Réalisations */
section div div div .card{
  overflow: hidden;
}
section div div div div img.card-img-top{
  width: 100%;
  transition: 1s ease;
  cursor: pointer;
}
section div div div div img.card-img-top:hover {
  transform: scale(1.2);
}

/* Contacts */
.blue div address h5{
  font-size: 1.2rem;
  }

/* Version PC only*/
@media (min-width: 768px){
/* Effacer le dropdown menu */
.dropdown{
    display:none;
  }
/* Pour éviter le chevauchement entre les images et les titres des projets */
section div div div .card .card-img{
  padding-bottom: 5px;
}
/* A propos */
section div div.about {
    background: var(--sky);
  }
section div .team {
    background: url(../Images/Equipes.jpg);
    background-size: cover;
  }
section div div.about div p {
    color: white;
  }
}
/* Version Tablette */
@media (max-width: 767.98px){
/* Définition du margin pour que le topic produit couvre tout l'écran */
section div div div div.product{
  margin-bottom: 40px !important;
}
/* Effacer les éléments de la navbar */
.nav .nav-items .nav-item{
    display:none;
  }
/* Pour éviter le chevauchement entre les images et les titres des projets */
section div div div .card .card-img{
    padding-bottom: 15px;
  }
/* A propos */
section div div.about {
    background-color: white;
  }
section div div.about div p {
    color: black;
  }
section div .space{
  display:none;
  }
section div div div div div.product-text h5, h6, p, a{
  font-size: 0.8rem;
  }
.blue div address h5{
  font-size: 1rem;
  }
footer h4{
  font-size: 1.1rem;
  }
}

/* Version mobile et mini-tablette */
@media (max-width: 575.98px){
/* Retirer les images des produits et le nom de l'entreprise */
section div div div div img.product-img, nav div a.navbar-brand{
  display:none;
  }
section div div div h2{
    font-size: 1.5rem;
  }
}
